<!--========== HEADER ==========-->
<header class="l-header" id="header">
  <nav class="nav bd-container">
    <div>
      <a download="Resume_Pishta" href="/src/pdf/Resume_Pishta.pdf">
        <i class="bx bx-download home__button"></i>
      </a>
    </div>
    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#home" class="nav__link active-link">
            <i class="bx bx-home nav__icon"></i>Home
          </a>
        </li>
        <li class="nav__item">
          <a href="#languages" class="nav__link">
            <i class="bx bx-user-voice nav__icon"></i>Languages
          </a>
        </li>
        <li class="nav__item">
          <a href="#skills" class="nav__link">
            <i class="bx bx-receipt nav__icon"></i>Skills
          </a>
        </li>
        <li class="nav__item">
          <a href="#interests" class="nav__link">
            <i class="bx bx-landscape nav__icon"></i>Interests
          </a>
        </li>
        <li class="nav__item">
          <a href="#summary" class="nav__link">
            <i class="bx bx-user nav__icon"></i>Summary
          </a>
        </li>
        <li class="nav__item">
          <a href="#experience" class="nav__link">
            <i class="bx bx-briefcase-alt nav__icon"></i>Experience
          </a>
        </li>
        <li class="nav__item">
          <a href="#education" class="nav__link">
            <i class="bx bxs-graduation nav__icon"></i>Education
          </a>
        </li>
        <li class="nav__item">
          <a href="#courses" class="nav__link">
            <i class="bx bx-edit nav__icon"></i>Courses
          </a>
        </li>
        <li class="nav__item">
          <a href="#certificates" class="nav__link">
            <i class="bx bx-award nav__icon"></i>Certificates
          </a>
        </li>
      </ul>
    </div>
    <div class="nav__toggle nav__btn" id="nav-toggle">
      <span class="burger"></span>
    </div>
  </nav>
</header>
<main class="l-main bd-container">
  <!-- All elements within this div, is generated in PDF -->
  <div class="resume" id="area-cv">
    <div class="resume__left">
      <!--========== HOME ==========-->
      <section class="home" id="home">
        <div class="home__container section bd-grid">
          <div class="home__section bd-grid">
            <img
              src="/src/img/perfil.jpg"
              alt="my photo"
              class="home__img"
              tabindex="0" />
          </div>
          <div class="home__data bd-grid">
            <h1 class="home__title">Oleksandr <b>Pishta</b></h1>
            <h3 class="home__profession">Junior full stack developer</h3>
          </div>
          <div class="home__address bd-grid">
            <a
              href="https://goo.gl/maps/K226a75fPeYMoFjHA"
              class="home__link"
              target="_blank">
              <i class="bx bx-map home__icon"></i>
              Ukraine, Zaporizhzhya, Gulyapole
              <div></div>
              <i class="bx bx-link-external external-link-icon"></i>
            </a>
            <span class="home__information">
              <a href="mailto:live.gp@gmail.com" class="home__link">
                <i class="bx bx-envelope home__icon"></i>
                live.gp@gmail.com
                <i class="bx bx-link-external external-link-icon"></i>
              </a>
            </span>
            <span class="home__information">
              <a href="tel:+380667867752" class="home__link">
                <i class="bx bx-phone home__icon"></i>
                +380 66 786 77 52
                <i class="bx bx-link-external external-link-icon"></i>
              </a>
            </span>
          </div>
        </div>
        <!-- Theme change button -->
        <i class="bx bx-moon change-theme" title="Thema" id="theme-button"></i>
        <!-- Button to generate and download the pdf. Available for desktop. -->
        <i
          class="bx bx-download generate-pdf"
          title="Creation PDF"
          id="resume-button"></i>
      </section>
      <!--========== SOCIAL ==========-->
      <section class="social section" id="social">
        <h2 class="section-title">Social</h2>
        <div class="social__container bd-grid">
          <a
            href="https://www.linkedin.com/in/oleksandr-pishta/"
            target="_blank"
            class="social__link">
            <i class="bx bxl-linkedin-square social__icon"></i>
            linkedin
            <i class="bx bx-link-external external-link-icon"></i>
          </a>
          <a
            href="https://github.com/livegp/"
            target="_blank"
            class="social__link">
            <i class="bx bxl-github social__icon"></i>
            github
            <i class="bx bx-link-external external-link-icon"></i>
          </a>
          <a
            href="https://www.facebook.com/oleksandr.pishta/"
            target="_blank"
            class="social__link">
            <i class="bx bxl-facebook-square social__icon"></i>
            facebook
            <i class="bx bx-link-external external-link-icon"></i>
          </a>
          <a
            href="https://www.instagram.com/pishtaoleksandr/"
            target="_blank"
            class="social__link">
            <i class="bx bxl-instagram-alt social__icon"></i>
            instagram
            <i class="bx bx-link-external external-link-icon"></i>
          </a>
          <a
            href="https://twitter.com/live_gp"
            target="_blank"
            class="social__link">
            <i class="bx bxl-twitter social__icon"></i>
            twitter
            <i class="bx bx-link-external external-link-icon"></i>
          </a>
          <a
            href="viber://chat?number=%2B380667867752"
            target="_blank"
            class="social__link">
            <i class="bx bxs-phone-call social__icon"></i>
            viber
            <i class="bx bx-link-external external-link-icon"></i>
          </a>
          <a
            href="https://telegram.me/live_gp"
            target="_blank"
            class="social__link">
            <i class="bx bxl-telegram social__icon"></i>
            telegram
            <i class="bx bx-link-external external-link-icon"></i>
          </a>
        </div>
      </section>
      <!--========== LANGUAGES ==========-->
      <section class="section" id="languages">
        <h2 class="section-title">Languages</h2>
        <div class="languages__container bd-grid">
          <div>
            <span class="languages__circle"></span>Ukrainian
            <div class="languages__f-line">
              <div class="languages__line" style="width: 100%"></div>
            </div>
          </div>
          <div>
            <span class="languages__circle"></span>Russian
            <div class="languages__f-line">
              <div class="languages__line" style="width: 100%"></div>
            </div>
          </div>
          <div>
            <span class="languages__circle"></span>Deutsch
            <div class="languages__f-line">
              <div class="languages__line" style="width: 15%"></div>
            </div>
          </div>
          <div>
            <span class="languages__circle"></span>English
            <div class="languages__f-line">
              <div class="languages__line" style="width: 5%"></div>
            </div>
          </div>
        </div>
      </section>
      <!--========== HARD SKILLS  ==========-->
      <section class="section" id="hard-skills">
        <h2 class="section-title">Hard skills</h2>
        <div class="skills__container bd-grid">
          <div>
            <span class="skills__circle"></span>Html
            <div class="skills__f-line">
              <div class="skills__line" style="width: 90%"></div>
            </div>
          </div>
          <div>
            <span class="skills__circle"></span>Css
            <div class="skills__f-line">
              <div class="skills__line" style="width: 80%"></div>
            </div>
          </div>
          <div>
            <span class="skills__circle"></span>JavaScript
            <div class="skills__f-line">
              <div class="skills__line" style="width: 70%"></div>
            </div>
          </div>
          <div>
            <span class="skills__circle"></span>React
            <div class="skills__f-line">
              <div class="skills__line" style="width: 60%"></div>
            </div>
          </div>
        </div>
      </section>
      <!--========== SOFT SKILLS  ==========-->
      <section class="section" id="soft-skills">
        <h2 class="section-title">Soft skills</h2>
        <div class="skills__container bd-grid">
          <div>
            <span class="skills__circle"></span>Html
            <div class="skills__f-line">
              <div class="skills__line" style="width: 90%"></div>
            </div>
          </div>
          <div>
            <span class="skills__circle"></span>Css
            <div class="skills__f-line">
              <div class="skills__line" style="width: 80%"></div>
            </div>
          </div>
          <div>
            <span class="skills__circle"></span>JavaScript
            <div class="skills__f-line">
              <div class="skills__line" style="width: 70%"></div>
            </div>
          </div>
          <div>
            <span class="skills__circle"></span>React
            <div class="skills__f-line">
              <div class="skills__line" style="width: 60%"></div>
            </div>
          </div>
        </div>
      </section>
      <!--========== INTERESTS ==========-->
      <section class="section" id="interests">
        <h2 class="section-title">Interests</h2>
        <div class="interests__container bd-grid">
          <div class="interests">
            <i class="bx bx-headphone interests__icon"></i>
            Music
          </div>
          <div class="interests">
            <i class="bx bx-cycling interests__icon"></i>
            Velo
          </div>
          <div class="interests">
            <i class="bx bx-book interests__icon"></i>
            Legislation
          </div>
          <div class="interests">
            <i class="bx bx-dumbbell interests__icon"></i>
            Sports
          </div>
        </div>
      </section>
      <!--========== SUMMARY ==========-->
      <section class="summary section" id="summary">
        <h2 class="section-title">Summary</h2>
        <p class="summary__description">
          My goal is to become a successful Full Stack developer who is able to
          create innovative solutions and solve complex technical tasks. I am
          always open to learning new things and constantly developing.
          <br />
          I am open to meeting and discussing cooperation. Feel free to contact
          me
        </p>
      </section>
    </div>
    <div class="resume__right">
      <!--========== PROJECT EXPERIENCE ==========-->
      <section class="project section" id="project">
        <h2 class="section-title">Project experience</h2>
        <div class="project__container bd-grid">
          <div class="project__content">
            <div class="project__time">
              <span class="project__rounder"></span>
              <span class="project__line"></span>
            </div>
            <div class="project__data bd-grid">
              <a
                class="project__link"
                href="https://b1b0nner.github.io/7UP/"
                target="_blank">
                <h3 class="project__title">Bookshelf</h3>
                <i class="bx bx-link-external external-link-icon"></i>
              </a>
              <span class="project__company"
                >[HTML5 · CSS · SCSS · JS · REST APIs · Parcel · Figma · GitHub
                · Stylelint · ESLint]
              </span>
              <p class="project__description">
                Team project. In this project, I worked on a responsive menu
                that has a theme switcher and a login button, which I combined
                with login logic that another team member was responsible for. A
                button to scroll to the top of the page was also made.
              </p>
            </div>
          </div>
          <div class="project__content">
            <div class="project__time">
              <span class="project__rounder"></span>
              <span class="project__line"></span>
            </div>
            <div class="project__data bd-grid">
              <a
                class="project__link"
                href="https://vitalii-dashivets.github.io/project-chocolate/"
                target="_blank">
                <h3 class="project__title">Simply chocolate</h3>
                <i class="bx bx-link-external external-link-icon"></i>
              </a>
              <span class="project__company"
                >[HTML5 · CSS · SCSS · JS · Vite · Stylelint · Figma · GitHub ·
                HTML]</span
              >
              <p class="project__description">
                Team project. Worked on the feedback section (chocolate is
                loved), designed in the form of a carousel and a modal window of
                this section.
              </p>
            </div>
          </div>
          <div class="project__content">
            <div class="project__time">
              <span class="project__rounder"></span>
              <!-- <span class="project__line"></span> -->
            </div>
            <div class="project__data bd-grid">
              <a
                class="project__link"
                href="https://livegp.github.io/goit-markup-hw-07/"
                target="_blank">
                <h3 class="project__title">WebStudio</h3>
                <i class="bx bx-link-external external-link-icon"></i>
              </a>
              <span class="project__company"
                >[HTML5 · CSS · SCSS · Stylelint · Figma · GitHub]</span
              >
              <p class="project__description">
                An individual project in which he consolidated his basic layout
                skills
              </p>
            </div>
          </div>
        </div>
      </section>
      <!--========== WORK EXPERIENCE ==========-->
      <section class="experience section" id="experience">
        <h2 class="section-title">Work experience</h2>
        <div class="experience__container bd-grid">
          <div class="experience__content">
            <div class="experience__time">
              <span class="experience__rounder"></span>
              <span class="experience__line"></span>
            </div>
            <div class="experience__data bd-grid">
              <h3 class="experience__title">
                Leading specialist of the customer service department
              </h3>
              <span class="experience__company"
                >2012 - For now | Office of the State Treasury Service of
                Ukraine in Gulyaipil district
              </span>
              <p class="experience__description">
                Control over compliance with budget legislation, introduction
                and recording of drawings, estimates, plans of use and changes
                to them, budgetary and financial obligations, spending
              </p>
            </div>
          </div>
          <div class="experience__content">
            <div class="experience__time">
              <span class="experience__rounder"></span>
              <span class="experience__line"></span>
            </div>
            <div class="experience__data bd-grid">
              <h3 class="experience__title">Graphic designer</h3>
              <span class="experience__company">2010 - 2012 | FOP Kubrak</span>
              <p class="experience__description">
                Creation of a graphic design of monuments, and printing of an
                image, using a machine, on a stone
              </p>
            </div>
          </div>
          <div class="experience__content">
            <div class="experience__time">
              <span class="experience__rounder"></span>
              <span class="experience__line"></span>
            </div>
            <div class="experience__data bd-grid">
              <h3 class="experience__title">The seller is a consultant</h3>
              <span class="experience__company"
                >2007 - 2009 | FOP Mishchenko</span
              >
              <p class="experience__description">
                Retail trade of household and computer equipment, assembly and
                adjustment of PCs
              </p>
            </div>
          </div>
          <div class="experience__content">
            <div class="experience__time">
              <span class="experience__rounder"></span>
              <!-- <span class="experience__line"></span> -->
            </div>
            <div class="experience__data bd-grid">
              <h3 class="experience__title">RIP manager</h3>
              <span class="experience__company"
                >2006 - 2008 | PJSC CB "Privatbank"</span
              >
              <p class="experience__description">Issuance of consumer loans</p>
            </div>
          </div>
        </div>
      </section>
      <!--========== EDUCATION ==========-->
      <section class="education section" id="education">
        <h2 class="section-title">Education</h2>
        <div class="education__container bd-grid">
          <div class="education__content">
            <div class="education__time">
              <span class="education__rounder"></span>
              <!-- <span class="education__line"></span> -->
            </div>
            <div class="education__data bd-grid">
              <h3 class="education__title">Finance specialist</h3>
              <span class="education__company"
                >2000 - 2005 | Zaporizhia State Engineering Academy</span
              >
              <!-- <span class="education__year"></span> -->
            </div>
          </div>
        </div>
      </section>
      <!--========== COURSES ==========-->
      <section class="section" id="courses">
        <h2 class="section-title">Courses</h2>
        <div class="courses__container bd-grid">
          <div class="courses__content">
            <div class="courses__time">
              <span class="courses__rounder"></span>
              <span class="courses__line"></span>
            </div>
            <div class="courses__data bd-grid">
              <h3 class="courses__title">Candidate</h3>
              <span class="courses__company"
                >2020 | Дія. Digital education
              </span>
              <!-- <p class="courses__description">
                    </p> -->
            </div>
          </div>
          <div class="courses__content">
            <div class="courses__time">
              <span class="courses__rounder"></span>
              <span class="courses__line"></span>
            </div>
            <div class="courses__data bd-grid">
              <h3 class="courses__title">
                Digital literacy of civil servants 1.0. based on Google tools
              </h3>
              <span class="courses__company"
                >2020 | Дія. Digital education</span
              >
              <!-- <p class="courses__description"></p> -->
            </div>
          </div>
          <div class="courses__content">
            <div class="courses__time">
              <span class="courses__rounder"></span>
              <span class="courses__line"></span>
            </div>
            <div class="courses__data bd-grid">
              <h3 class="courses__title">
                Effective budget process in local bodies municipality
              </h3>
              <span class="courses__company">2019 | Prometheus </span>
              <!-- <p class="experience__description"></p> -->
            </div>
          </div>
          <div class="courses__content">
            <div class="courses__time">
              <span class="courses__rounder"></span>
              <span class="courses__line"></span>
            </div>
            <div class="courses__data bd-grid">
              <h3 class="courses__title">
                The psychology of stress and how to deal with it
              </h3>
              <span class="courses__company">2019 | Prometheus</span>
              <!-- <p class="courses__description"></p> -->
            </div>
          </div>
          <div class="courses__content">
            <div class="courses__time">
              <span class="courses__rounder"></span>
              <span class="courses__line"></span>
            </div>
            <div class="courses__data bd-grid">
              <h3 class="courses__title">
                How to effectively plan and conduct a dialogue
              </h3>
              <span class="courses__company">2019 | Prometheus</span>
              <!-- <p class="courses__description"></p> -->
            </div>
          </div>
          <div class="courses__content">
            <div class="courses__time">
              <span class="courses__rounder"></span>
              <span class="courses__line"></span>
            </div>
            <div class="courses__data bd-grid">
              <h3 class="courses__title">
                Conflict of interest: you need to know! From theory to practice
              </h3>
              <span class="courses__company">2019 | Prometheus</span>
              <!-- <p class="courses__description"></p> -->
            </div>
          </div>
          <div class="courses__content">
            <div class="courses__time">
              <span class="courses__rounder"></span>
              <!-- <span class="courses__line"></span> -->
            </div>
            <div class="courses__data bd-grid">
              <h3 class="courses__title">
                Conflict of interest: you need to know!
              </h3>
              <span class="courses__company">2018 | Prometheus</span>
              <!-- <p class="courses__description"></p> -->
            </div>
          </div>
        </div>
      </section>
      <!--========== CERTIFICATES ==========-->
      <section class="certificate section" id="certificate">
        <h2 class="section-title">Certificates</h2>
        <div class="certificate__container bd-grid">
          <div class="certificate__content">
            <div class="certificate__time">
              <span class="certificate__rounder"></span>
              <span class="certificate__line"></span>
            </div>
            <div class="certificate__data bd-grid">
              <h3 class="certificate__title">
                Certificate of intermediate digital literacy level B2
              </h3>
              <span class="certificate__company"
                >2020 | Дія. Digital education
              </span>
              <!-- <p class="certificate__description">
                    </p> -->
            </div>
          </div>
          <div class="certificate__content">
            <div class="certificate__time">
              <span class="certificate__rounder"></span>
              <!-- <span class="certificate__line"></span> -->
            </div>
            <div class="certificate__data bd-grid">
              <h3 class="certificate__title">
                Certificate of fluency in the state language
              </h3>
              <span class="certificate__company"
                >2019 | Zaporizhzhia National University</span
              >
              <!-- <p class="certificate__description"></p> -->
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
<!--========== SCROLL TOP ==========-->
<a href="#" class="scrolltop" id="scroll-top">
  <i class="bx bx-up-arrow-alt scrolltop__icon"></i>
</a>
<!--========== HTML2PDF ==========-->
<script type="module" src="../../public/html2pdf.bundle.min.js"></script>
<!--========== MAIN JS ==========-->
<script type="module" src="/main.js"></script>
