<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--========== FAVICON ==========-->
  <link
    rel="shortcut icon"
    href="/src/favicon/favicon.ico"
    type="image/x-icon" />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/src/favicon/favicon-16x16.png" />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/src/favicon/favicon-32x32.png" />
  <link
    rel="icon"
    type="image/png"
    sizes="192x192"
    href="/src/favicon/android-chrome-192x192.png" />
  <link
    rel="icon"
    type="image/png"
    sizes="512x512"
    href="/src/favicon/android-chrome-512x512.png" />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/src/favicon/apple-touch-icon.png" />
  <link rel="manifest" href="/src/favicon/site.webmanifest" />
  <link
    rel="mask-icon"
    href="/src/favicon/safari-pinned-tab.svg"
    color="#3b5998" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta
    name="msapplication-TileImage"
    content="/src/favicon/mstile-144x144.png" />
  <meta name="msapplication-config" content="/src/favicon/browserconfig.xml" />
  <meta name="theme-color" content="#ffffff" />
  <!--========== OPEN GRAPH Facebook ==========-->
  <meta property="og:site_name" content="Oleksandr Pishta" />
  <meta property="og:image" content="/src/favicon/og-image.jpg" />
  <meta property="og:image:width" content="1000" />
  <meta property="og:image:height" content="524" />
  <meta property="og:url" content="https://resume-pishta.netlify.app/" />
  <meta property="og:type" content="profile" />
  <meta property="og:title" content="Oleksandr welcomes you" />
  <meta
    property="og:description"
    content="Everything you wanted to know about me" />
  <meta name="author" content="Oleksandr Pishta" />
  <meta name="description" content="Resume Oleksandr Pishta" />
  <!--========== BOX ICONS ==========-->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
  <!--========== CSS ==========-->
  <!-- General -->
  <!-- <link rel="stylesheet" type="text/css" href="/src/css/styles.css" /> -->
  <!--====== toPDF ======-->
  <!-- <link rel="stylesheet" type="text/css" href="/src/css/scaleToPDF.css" /> -->
  <!-- Print -->
  <!-- <link
    rel="stylesheet"
    type="text/css"
    href="/src/css/print.css"
    media="print"
  /> -->
  <!-- Adaptation -->
  <!-- <link
    rel="stylesheet"
    type="text/css"
    href="/src/css/screen.css"
    media="screen"
  /> -->
  <title>Oleksandr Pishta</title>
</head>
