/* ========== Classes modified to reduce size and print on A4 sheet ========== */
.scale-cv .chenge-theme,
.scale-cv .generate-pdf {
  display: none;
}

.scale-cv .bd-container {
  max-width: 595px;
}

.scale-cv .section {
  padding: 0.75rem 0 0;
}

.scale-cv .section-title {
  margin-bottom: 0.75rem;
}

.scale-cv .resume__left,
.scale-cv .resume__right {
  padding: 0 1rem;
}

.scale-cv .home__img {
  width: 100px;
  height: 100px;
}

.scale-cv .home__section {
  height: 100px;
}

.scale-cv .home__container {
  gap: 1.5rem;
}

.scale-cv .home__data {
  gap: 0.25rem;
}

.scale-cv .home__address,
.scale-cv .social__container,
.scale-cv .interests__container,
.scale-cv .languages__container,
.scale-cv .skills__container,
.scale-cv .education__container,
.scale-cv .project__container,
.scale-cv .experience__container,
.scale-cv .courses__container,
.scale-cv .certificate__container {
  gap: 0.7rem;
}

.scale-cv .home__icon,
.scale-cv .social__icon,
.scale-cv .interests__icon {
  font-size: 1rem;
}

.scale-cv .interests__container,
.scale-cv .skills_container_,
.scale-cv .languages__container {
  font-size: var(--small-font-size);
}

.scale-cv .education__time,
.scale-cv .project__time,
.scale-cv .experience__time,
.scale-cv .courses__time,
.scale-cv .certificate__time {
  padding-right: 0.5rem;
}

.scale-cv .education__rounder,
.scale-cv .project__rounder,
.scale-cv .experience__rounder,
.scale-cv .courses__rounder,
.scale-cv .certificate__rounder {
  width: 11px;
  height: 11px;
  margin-top: 0.22rem;
}

.scale-cv .education__line,
.scale-cv .project__line,
.scale-cv .experience__line,
.scale-cv .courses__line,
.scale-cv .certificate__line {
  transform: translate(5px, 0);
  width: 1px;
  height: 110%;
}

.scale-cv .education__data,
.scale-cv .project__data,
.scale-cv .experience__data,
.scale-cv .courses__data,
.scale-cv .certificate__data {
  gap: 0.25rem;
}

/* ========== Font size variables to scale cv ========== */
body.scale-cv {
  --h1-font-size: 0.938rem;
  --h2-font-size: 0.938rem;
  --h3-font-size: 0.875rem;
  --normal-font-size: 0.813rem;
  --small-font-size: 0.75rem;
  --smaller-font-size: 0.688rem;
}
